<h1>Editing Leaderboard</h1>

<%= render 'form', leaderboard: @leaderboard ,path: leaderboard_path %>

<%= link_to 'Show', @leaderboard %> |
<%= link_to 'Back', leaderboards_subgenre_link_path(@leaderboard.subgenre_id) %>
