<h1>Editing Subgenre</h1>

<%= render 'form', subgenre: @subgenre ,path: subgenre_path %>

<ul class="pager">
  <li>
    <% if session[:role] == 'user_admin' %>
    <%= link_to 'Show', @subgenre %> 
    <% end %>
  </li>
  <li>
    <%= link_to 'Back', subgenres_link_path(@subgenre.genre_id) %>
  </li>
</ul>
